[submodule "Sources/assimp"]
	path = Sources/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Sources/qtsolutions"]
	path = Sources/qtsolutions
	url = https://github.com/SeriousAlexej/qt-solutions.git
	branch = master
[submodule "Sources/EntitiesAlpha"]
	path = Sources/EntitiesAlpha
	url = https://gitlab.com/TwilightWingsStudio/entitiesalpha.git
	branch = master
[submodule "Sources/CrashRpt"]
	path = Sources/CrashRpt
	url = https://git.code.sf.net/p/crashrpt/code
	branch = master
