# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.p

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output binary dir
Bin/*

# CMake Build dirs (temp)
Build/
Debug/

# Visual Studio
*.aps
*.vs
*.opendb
*.sdf
*.map
*.opensdf
*.pdb
*.ipdb
*.sbr
*.suo
*.tlog
*.ipch
*.hm
*.exp
*.res
*.vcxproj.user
*.vcxproj.FileListAbsolute.txt
*.bsc
*.cnt
*.recipe
*.idb
*.ncb
*.opt

# Generated configuration files
*.log
*.rpt	# crashinfo
*.moc
*.qrc.h
*.ui.h
