[submodule "Sources/assimp"]
	path = Sources/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Sources/qtsolutions"]
	path = Sources/qtsolutions
	url = https://github.com/SeriousAlexej/qt-solutions.git
	branch = master
[submodule "Sources/CrashRpt"]
	path = Sources/CrashRpt
	url = https://git.code.sf.net/p/crashrpt/code
	branch = master
[submodule "Sources/Qt6"]
	path = Sources/Qt6
	url = https://github.com/SeriousAlexej/Qt6.8.3_qtbase_x32_msvc_2022.git
	branch = main
[submodule "Sources/SeriousEngineCAPI"]
	path = Sources/SeriousEngineCAPI
	url = https://github.com/SeriousAlexej/SeriousEngineCAPI.git
	branch = master
[submodule "Sources/SeriousEngineCppAPI"]
	path = Sources/SeriousEngineCppAPI
	url = https://github.com/SeriousAlexej/SeriousEngineCppAPI.git
	branch = master
